<template>
  <nav class="navbar navbar-default">
    <div class="navbar-header">
      <router-link to="/" class="navbar-brand">Automation Manager</router-link>
    </div>
    <ul class="nav navbar-nav navbar-right main-nav-bar">
      <li v-show="isLoggedIn()" class="login-account-info"><p>Logged in as : <span class="badge alert-info" v-text="accountInfo.email"></span></p>
      </li>
      <li v-show="isLoggedIn()" class="login-account-info"><p>Account Key : <span class="badge alert-info" v-text="accountInfo.accountKey"></span></p>
      </li>
      <li>
        <button v-show="isLoggedIn()" @click="doLogOut()" class="btn btn-danger log">Log Out</button>
      </li>
    </ul>
  </nav>
</template>

<script>

import {isLoggedIn, doLogOut} from '../../utils/auth';
import {getUserInfo} from '../../utils/api';

export default {
  name: 'app-nav',
  data() {
    return {
      accountInfo: {
        email: '',
        accountKey: ''
      }
    }
  },
  methods: {
    isLoggedIn() {
      return isLoggedIn();
    },
    doLogOut() {
      doLogOut();
      this.$router.push({name: 'Login'});
    },
    getUserInfo() {
      if(this.isLoggedIn()) {
        getUserInfo().then(response => {
          var localdata   = JSON.parse(localStorage.AUTH_USER);
          this.accountInfo.email = localdata.email;
          this.accountInfo.accountKey = localdata.accountkey;
        });
      }
    },
  },
  mounted() {
    this.getUserInfo();
  }
}
</script>

<style scoped>
.navbar-right { margin-right: 0px !important}

.log {
  margin: 5px 10px 0 0;
}
.login-account-info {
  margin: 12px 10px 0 0;
}
@media (max-width:767px) {
.main-nav-bar {margin-left: 5px;}  
}
</style>
