<template>
<div>
  <div class="device-name-container">
    <span @click="editName = true; deviceName =''" v-show="editName == false" class="badge alert-info pull-right device-name">{{deviceName}}</span>
      <span class="badge alert-info pull-right device-name" v-show="editName">
        <input class="edit-name-text-box" v-model="deviceName" type="text" v-on:blur="updateName();"/>
      </span>
  </div>
</div>
</template>


<script>
import Vue from 'vue';
import {updateDeviceName} from '../../utils/api';
import bus from '../../utils/bus';
export default {
  name : 'device-name',
  props: ['deviceid', 'dname'],
  data() {
    return {
      deviceName : 'Add name',
      editName: false
    }
  },
  methods: {
    updateName() {
      this.editName = false;
      var id = this.deviceid;
      var name = this.deviceName;
      if(name.length > 2) {
        bus.$emit('nameChanged', {id, name});
      } else {
        this.deviceName = 'Add name';
      }
    },
  },
  mounted() {
    if(this.dname.length > 1) {
      this.deviceName = this.dname;
    }
  }
}

</script>

<style scoped>
.edit-name-text-box {color: black;
    width: 30%;
    height: 12px;
    border: none;}
    .device-name-container .badge input {
      background: transparent;
      width: auto;
      color: #fff;
      display: inline-block;
    }
    .device-name-container .badge {
      width: 100px !important;padding: 0;line-height: 24px;
    }
    .device-name-container .badge input {
      width: 100px;
      text-align: center;
    }
    .device-name-container .badge input:focus {
      outline:none;
    }
</style>
