<template>
<div>
  <app-nav></app-nav>
  <div class="col-md-12">

    <span class="btn btn-default btn-sm pull-left back-button"><router-link :to="{ name: 'Devices', params: {} }">Go Back</router-link></span>
  </div>
  <div class="col-md-6">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">Control Panell</h3>
      </div>
      <div class="panel-body">
      <div class="col-sm-2" v-for="(item,index) in switches">
      <div class="toggle-outer-container">
          <div class="time_stamp ">{{ item.meta.lastActivity | moment("from", "now", true) }}</div>
        <span class="toggle-container">
          <toggle-button :key="index" @change="updateSwitchStatus(index,$event.value)" :value="getSwitchStatus(item.status)" :labels="{checked: 'On', unchecked: 'Off'}" :sync="true"/></toggle-button>
          </span>
          <switch-name :switchid="index" :switchdbname="item.meta.name"></switch-name>

      </div>
    </div>
  </div>
  </div>
</div>
  <div class="col-md-6">
    <div class="panel panel-info">
    <div class="panel-heading">
    <h3 class="panel-title">Device details</h3>
  </div>
  <div class="panel-body">
  <div class="col-md-6">
    <div class="pannel_body_inner clearfix">
      <div class="pannel_body_icon">
        <i class="fa fa-cog" aria-hidden="true"></i>
      </div>
      <div class="pannel_body_desc">
        <span>INFORMATION</span>
        <span class="value">ID : {{this.deviceId}}</span>
        <span class="value">NAME : {{this.deviceName}}</span>
      </div>

      </div>

      </div>
      <div class="col-md-6">
        <div class="pannel_body_inner clearfix">
          <div class="pannel_body_icon google_plus">
            <i class="fa fa-power-off" aria-hidden="true"></i>
          </div>
          <div class="pannel_body_desc">
            <span>DEVICE STATUS</span>
            <span class="value">SWITCHES ON : {{this.turnedOnSwitches}}</span>
            <span class="value">SWITCHES OFF : {{this.turnedOffSwitches}}</span>
          </div>

          </div>

          </div>
    </div>

    </div>
  </div>

  </div>
  </div>
  </div>
</div>
</div>
</template>

<script>
import Vue from 'vue';
import AppNav from './AppNav';
import bus from '../../utils/bus';
import ToggleButton from 'vue-js-toggle-button';
import SwitchName from './SwitchName';
import {
  getSwitches,
  updateSwitch,
  updateSwitchName,
  getDevice
} from '../../utils/api';
import VueProgressBar from 'vue-progressbar';
import router from '../router'
import Toaster from 'v-toaster';

Vue.use(ToggleButton);
Vue.use(VueProgressBar, {
  color: '#31708f',
  failedColor: 'red',
  height: '5px'
});
Vue.use(Toaster);
Vue.use(require('vue-moment'));


export default {
  name: 'device',
  components: {
    AppNav,
    SwitchName
  },
  data() {
    return {
      switches: '',
      interval: null,
      deviceName: 'Unknown',
      deviceId: 'Unknown',
      turnedOnSwitches : 0,
      turnedOffSwitches : 0
    }
  },
  methods: {
    getDeviceInfo() {
      let device_id = this.$route.params.devicekey;
      getDevice(device_id).then(response => {
        this.deviceName = response.data.payload.meta.name;
        this.deviceId = response.data.payload.devicekey;
        this.turnedOnSwitches = 0;
        this.turnedOffSwitches = 0;
        for(var key in response.data.payload.digital) {
          console.log(response.data.payload.digital[key].status);
          if(response.data.payload.digital[key].status === 1) {
            this.turnedOnSwitches++;
          }
          if(response.data.payload.digital[key].status === 0) {
            this.turnedOffSwitches++;
          }
        }
      }).catch(error => {
        console.log(error);
      });
    },
    allSwitches() {
      let device_id = this.$route.params.devicekey;
      getSwitches(device_id).then(response => {
        this.switches = response.data.payload;
      });
    },
    getSwitchStatus(bool) {
      if (bool == 1) {
        return true;
      } else {
        return false;
      }
    },
    updateSwitchStatus(key, value) {
      let device_id = this.$route.params.devicekey;
      var statuss = (value == true ? 1 : 0);
      var payload = {
        devicekey: device_id,
        switch_code: key,
        status: statuss
      };
      updateSwitch(payload).then(response => {
        this.$toaster.success('Switch '+payload.switch_code+' updated.', {timeout: 1000});
        this.getDeviceInfo();
        return true;
      }).catch(error => {
        console.log(error.response);
      });
    }
  },
  mounted() {
    this.allSwitches();
    this.getDeviceInfo();
    this.interval = setInterval(function () {
      this.allSwitches();
    }.bind(this), 2000);

    bus.$on('switchNameUpdated', atts => {
      atts.deviceid = this.$route.params.devicekey;
      updateSwitchName(atts).then(response => {
        if(response.data.status === true) {
          this.$toaster.success('switch name updated', {timeout: 3000});
        }
      }).catch(error => {console.log(error)});
    });
  },
  destroyed: function() {
    clearInterval(this.interval);
  },
}
</script>

<style scoped>

.back-button a {
  text-decoration: none;
  color: grey;
}
.v-toast.v-toast-success.v-toast-enter-to {
    border-radius: none !important;
    border-radius: 5px;
    width: 75%;
    margin-left: 25%;
}
.toggle-container {
  display: block;
  text-align: center;
}
.toggle-outer-container {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border: 1px solid #ddd;
      padding: 5px;

}
.time_stamp {
  text-align: right;
  color: #777;
  margin-bottom: 10px;
  font-size: 9px;
}
.back-button {
  margin-bottom:15px;
}

.pannel_body_icon {
  width: 90px;
  height: 90px;
  float: left;
  background-color: #00c0ef;
  text-align: center;
}
.pannel_body_icon i {
  line-height: 90px;
  color:#fff;
  font-size: 43px;
}
.pannel_body_inner {
  border-radius: 5px ;
  overflow: hidden;
  border: 1px solid #e8e5e5;
  margin-bottom: 20px;
}
.pannel_body_desc span {
    font-size: 15px;
    font-weight: normal;
    text-transform: uppercase;
    padding: 10px 0px 0 100px;
    display: block;
    }
    .pannel_body_desc span.value {
      font-weight: bold;
      padding-top: 0;
    }
    .pannel_body_icon.google_plus {
      background-color: #0eb10b;
    }
</style>
