<template>
  <div>
    <app-nav></app-nav>
    <h3 class="text-center">Devices</h3>
    <div class="col-sm-4" v-for="device in devicess">
      <div class="panel panel-default">
        <div class="panel-heading clearfix">
          <h3 class="panel-title pull-left">Device Key : {{device.devicekey}}</h3>
          <device-name :deviceid="device.devicekey" :dname="device.meta.name"></device-name>
        </div>
        <div class="panel-body device-detail-item">
          <p><span class="badge alert-info">Total Switches: </span> {{switchCount(device.digital, 'all')}}</p>
          <p><span class="badge alert-success">Powered On: </span> {{switchCount(device.digital, 'on')}}</p>
          <p><span class="badge alert-danger">Powered off: </span> {{switchCount(device.digital, 'off')}}</p>
          <p>Last activity {{ device.updatedAt | moment("from", "now", true) }} ago</p>
          <span class="btn btn-default btn-xs pull-right navigate-single-device"><router-link :to="{ name: 'Device', params: { devicekey: device.devicekey }}">Manage</router-link></span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

import Vue from 'vue';
import AppNav from './AppNav';
import DeviceName from './DeviceName';
import {allDevices, updateDeviceName} from '../../utils/api';
import VueProgressBar from 'vue-progressbar';
import bus from '../../utils/bus';
import Toaster from 'v-toaster';

Vue.use(VueProgressBar, {
  color: '#31708f',
  failedColor: 'red',
  height: '5px'
});

Vue.use(Toaster);
Vue.use(require('vue-moment'));


export default {
  name : 'Devices',
  components: {
    AppNav,
    DeviceName
  },
  data() {
    return {
      devicess: ''
    }
  },
  methods: {
    allDevices() {
      this.$Progress.start();
      allDevices().then(response => {
        this.devicess = response.data.payload;
        this.$Progress.finish();
      }).catch(error => {console.log(error.response)});
    },
    switchCount(data, type) {
      var t = 0;
      var o = 0;
      var d = 0;
      for (var key in data) {
        t = t+1;
        if(data[key] == 1) {
          o = o+1;
        } if (data[key] == 0) {
          d = d+1;
        }
      }
      if(type == 'all') {
        return t;
      } if(type == 'on') {
        return o;
      } if(type == 'off') {
        return d;
      }
    }
  },
  mounted() {
    this.allDevices();
    bus.$on('nameChanged', atts => {
      updateDeviceName(atts).then(response => {
        if(response.data.status === true) {
          this.$toaster.success('Device name updated', {timeout: 3000});
          this.allDevices();
        }
      }).catch(error => {console.log(error)});
    });
  },
}

</script>

<style scoped>
.navigate-single-device {display: inline-block;line-height: 30px; width: auto !important;}
.navigate-single-device a {text-decoration: none;}
.device-detail-item span {width: 90%; border-radius: 2px;}
</style>
