<template>
  <div>
    <app-nav></app-nav>
    <h3 class="text-center">Login to your control panel</h3>
    <hr/>
    <div class="wrapper">
    <form class="form-signin" v-on:submit.prevent="ProcessLogin()">
      <input type="text" class="form-control" name="username" placeholder="Email Address" v-model="login.email" />
      <input type="password" class="form-control" name="password" placeholder="Password" v-model="login.password" />
      <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
    </form>
    </div>
  </div>
</template>

<script>
import AppNav from './AppNav';
import Vue from 'vue';
import Toaster from 'v-toaster';
import 'v-toaster/dist/v-toaster.css';
import {doLogin, getUserInfo} from '../../utils/api';
import VueProgressBar from 'vue-progressbar';

Vue.use(VueProgressBar, {
  color: '#31708f',
  failedColor: 'red',
  height: '5px'
});

Vue.use(Toaster);

const BASE_URL  = 'http://developerhire.com:3000/api/v1';

export default {
  name: 'login-form',
  components: {
    AppNav
  },
  data() {
    return {
      login: {
        email:'chithra@portrave.com',
        password:'123'
      },
      userData: {
        email: '',
        accountkey: ''
      },
    }
  },
  methods: {
    ProcessLogin() {
      this.$Progress.start();
      doLogin(this.login).then(response => {
        this.$Progress.finish();
        var token = response.data.token;
        localStorage.setItem('AUTH_TOKEN', JSON.stringify(token));
        this.$toaster.success('Login success.', {timeout: 2000});
        var user  = getUserInfo().then(response => {
        this.userData.email = response.data.payload.email;
        this.userData.accountkey = response.data.payload.userkey;
        localStorage.setItem('AUTH_USER', JSON.stringify(this.userData));
        this.$router.push({name: 'Devices'});
        });
      }).catch(error => {
        this.$Progress.finish();
        this.$toaster.error(error.response.data.message, {timeout: 2000});
      });
    },
  },
  beforeCreate() {
    if(localStorage.AUTH_TOKEN) {
      this.$router.push({name: 'Devices'});
    }
  }
}

</script>

<style scoped>
.wrapper {
	margin-top: 80px;
  margin-bottom: 80px;
}

.form-signin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);

  .form-signin-heading,
	.checkbox {
	  margin-bottom: 30px;
	}

	.checkbox {
	  font-weight: normal;
	}

	.form-control {
	  position: relative;
	  font-size: 16px;
	  height: auto;
	  padding: 10px;
		@include box-sizing(border-box);

		&:focus {
		  z-index: 2;
		}
	}

	input[type="text"] {
	  margin-bottom: -1px;
	  border-bottom-left-radius: 0;
	  border-bottom-right-radius: 0;
	}

	input[type="password"] {
	  margin-bottom: 20px;
	  border-top-left-radius: 0;
	  border-top-right-radius: 0;
	}
}

.form-signin input {
    margin-bottom: 15px;
}

.loader-animation {
  float: right;
  margin-top: 4px;
}
</style>
