<template>
<div>
  <div class="switch-name-container">
    <span @click="editName = true; switchName =''" v-show="editName == false" class="switch-name-label">{{switchName}}</span>
    <span class="switch-name" v-show="editName">
        <input class="edit-name-text-box" v-model="switchName" type="text" v-on:blur="updateSwitchName();"/>
      </span>
  </div>
</div>
</template>


<script>
import Vue from 'vue';
import {
  updateDeviceName
} from '../../utils/api';
import bus from '../../utils/bus';
export default {
  name: 'switch-name',
  props: ['switchid', 'switchdbname'],
  data() {
    return {
      switchName: 'switch '+this.switchid,
      editName: false
    }
  },
  methods: {
    updateSwitchName() {
      this.editName = false;
      var switchid = this.switchid;
      var name = this.switchName;
      if (name.length > 2) {
        bus.$emit('switchNameUpdated', {
          switchid,
          name
        });
      } else {
        this.switchName = 'switch '+this.switchid;
      }
    },
  },
  mounted() {
    if (this.switchdbname.length > 1) {
      this.switchName = this.switchdbname;
    }
  }
}
</script>

<style scoped>
.edit-name-text-box {
  color: black;
  width: 30%;
  height: 12px;
  border: none;
}

.device-name-container .badge input {
  background: transparent;
  width: auto;
  color: #fff;
  display: inline-block;
}

.device-name-container .badge {
  width: 100px !important;
  padding: 0;
  line-height: 24px;
}

.device-name-container .badge input {
  width: 100px;
  text-align: center;
}

.device-name-container .badge input:focus {
  outline: none;
}

.switch-name-label {
  display: block;
  text-align: center;
  font-size: 11px;
  color: #403d3d;
}
.switch-name-container span {display:block;width: 100%;height: 15px;}
.switch-name-container span input {width: 100%;height: 15px;}
</style>
